includes:
    - config/extension.neon

    # symplify/phpstan-rules sets not loaded by extension-installer
    - vendor/symplify/phpstan-rules/config/code-complexity-rules.neon
    - vendor/symplify/phpstan-rules/config/configurable-rules.neon
    - vendor/symplify/phpstan-rules/config/static-rules.neon
    - vendor/symplify/phpstan-rules/config/phpunit-rules.neon

parameters:
    # parameters of this extension
    cognitive_complexity:
        class: 50
        function: 8

    unused_public:
        methods: true
        properties: true
        constants: true

    symplify:
        naming: true
        complexity: true
        configurable: true
        static: true
        mocks: true
        ctor: true

    level: 8

    paths:
        - src
        - tests

    excludePaths:
        - "*/Fixture/*"
        - "*/Source/*"

    ignoreErrors:
        # skip as always string
        - '#Parameter \#1 \$currentWorkingDirectory of class PHPStan\\DependencyInjection\\ContainerFactory constructor expects string, string\|false given#'

        # used in tests
        - '#Public constant "TomasVotruba\\CognitiveComplexity\\Rules\\(.*?)::ERROR_MESSAGE" is never used#'
