includes:
    - config/extension.neon

parameters:
    # parameters of this extension
    cognitive_complexity:
        class: 50
        function: 8

    level: 8

    paths:
        - src
        - tests

    excludePaths:
        - "*/Fixture/*"
        - "*/Source/*"

    ignoreErrors:
        - identifier: missingType.generics

        # skip as always string
        - '#Parameter \#1 \$currentWorkingDirectory of class PHPStan\\DependencyInjection\\ContainerFactory constructor expects string, string\|false given#'
